*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Set the padding for each section of the webpage */
.header,
.info,
.quote,
.sign-up,
.footer{
    padding-left: 200px;
    padding-right: 200px;
}
/* Header Styling */
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    height: 25vh
}
.top-header{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.top-header-links{
    display: flex;
}
.header-list{
    list-style: none; 
    display: flex;
}
.header-list-item{
    text-decoration: none;
    color: white;
}

/* Information Section Styling */
.info{
    height: 25vh;
}

/* Quote Section Styling */
.quote{
    height: 25vh;
    background-color: #E5E7EB;
}

/* Sign up Section Styling */
.sign-up{
    height: 20vh;
}

/* Footer Styling */
.footer{
    height: 5vh;
    background-color: #1F2937;
    color: white;
    display: flex;
    margin-top: auto;
    justify-content: center;
}